*{
  padding : 0;
  margin : 0;
  box-sizing: border-box;
}
header{
  background-color:rgb(225, 225, 204);
  height: 72px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}
header span{
  font-size: 25px;
  color:brown;
  font-weight: 600;
}
.navList{
  display: flex;
  flex-direction: row;
  grid-gap: 1.5rem;
  list-style: none;
}
.navList a{
  text-decoration: none;
  color : brown
}
main{
  max-width: 1200px;
  width:100%;
  margin: 0 auto;

}
.productList{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.product{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.productList img{
  width:100%;
  height: 100%;
  max-width: 300px;
  max-height: 300px;
}

.container h2{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
